---
interface Props {
  title: string
  progress: number
  height: number
}

const {...props} = Astro.props;
---


<div id={props.title} class="w-[100%] h-auto flex flex-row space-x-4">
    <span class=`w-${props.height} h-${props.height}` id="icon-slot">
      <slot name="icon"/>
    </span>

  <span
    role="progressbar"
    aria-labelledby="ProgressLabel"
    aria-valuenow={props.progress.toString()}
    class="relative block w-full rounded-full bg-[#4C5345] dark:bg-[#343830]"
  >
    <span class="block h-full w-full rounded-full bg-[#556547] text-center text-[10px]/4"  style=`width: ${props.progress}%`>
      <span class="flex flex-row font-bold h-full w-full justify-between items-center px-4 text-lg text-white
        "> 
        <p>{props.title}</p>
        <p>{props.progress.toString()}</p> 
      </span>
    </span>
  </span>
</div>




